# Dependencies
node_modules/
dist/

# Environment
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
firebase/functions/lib/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
*.tsbuildinfo

# Logs
*.log
